<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Missions</key>
	<dict>
		<key>Launch</key>
		<dict>
			<key>50km</key>
			<dict>
				<key>Cost</key>
				<integer>100</integer>
				<key>Research</key>
				<integer>100</integer>
				<key>Difficulty</key>
				<string>2</string>
			</dict>
			<key>100km</key>
			<dict>
				<key>Cost</key>
				<integer>100</integer>
				<key>Research</key>
				<integer>200</integer>
				<key>Difficulty</key>
				<string>3</string>
			</dict>
			<key>150km</key>
			<dict>
				<key>Cost</key>
				<integer>100</integer>
				<key>Research</key>
				<integer>300</integer>
				<key>Difficulty</key>
				<string>5</string>
			</dict>
		</dict>
		<key>Flyby</key>
		<dict>
			<key>Comet</key>
			<dict>
				<key>Cost</key>
				<integer>1000</integer>
				<key>Research</key>
				<integer>1150</integer>
				<key>Difficulty</key>
				<integer>30</integer>
			</dict>
			<key>Earth</key>
			<dict>
				<key>Cost</key>
				<integer>150</integer>
				<key>Research</key>
				<integer>350</integer>
				<key>Difficulty</key>
				<integer>7</integer>
			</dict>
			<key>Earth&apos;s Moon</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>10</integer>
			</dict>
			<key>Mars</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Venus</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Sun</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>15</integer>
			</dict>
		</dict>
		<key>Orbit</key>
		<dict>
			<key>Earth</key>
			<dict>
				<key>Cost</key>
				<integer>175</integer>
				<key>Research</key>
				<integer>350</integer>
				<key>Difficulty</key>
				<integer>10</integer>
			</dict>
			<key>Mars</key>
			<dict>
				<key>Cost</key>
				<integer>500</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>15</integer>
			</dict>
			<key>Venus</key>
			<dict>
				<key>Cost</key>
				<integer>600</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>15</integer>
			</dict>
			<key>Comet</key>
			<dict>
				<key>Cost</key>
				<real>12000</real>
				<key>Research</key>
				<integer>8000</integer>
				<key>Difficulty</key>
				<integer>60</integer>
			</dict>
		</dict>
		<key>Lander</key>
		<dict>
			<key>Mars</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Earth&apos;s Moon</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>10</integer>
			</dict>
			<key>Venus</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Comet</key>
			<dict>
				<key>Cost</key>
				<real>15000</real>
				<key>Research</key>
				<real>12000</real>
				<key>Difficulty</key>
				<integer>75</integer>
			</dict>
		</dict>
		<key>Rover</key>
		<dict>
			<key>Earth&apos;s Moon</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>10</integer>
			</dict>
			<key>Mars</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Comet</key>
			<dict>
				<key>Cost</key>
				<real>15000</real>
				<key>Research</key>
				<real>12000</real>
				<key>Difficulty</key>
				<integer>75</integer>
			</dict>
		</dict>
		<key>Man on Planet</key>
		<dict>
			<key>Earth&apos;s Moon</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Difficulty</key>
				<integer>10</integer>
			</dict>
			<key>Mars</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Difficulty</key>
				<integer>13</integer>
			</dict>
			<key>Comet</key>
			<dict>
				<key>Cost</key>
				<real>15000</real>
				<key>Research</key>
				<real>12000</real>
				<key>Difficulty</key>
				<integer>75</integer>
			</dict>
		</dict>
	</dict>
	<key>Rockets</key>
	<dict>
		<key>Launch</key>
		<dict>
			<key>V2</key>
			<dict>
				<key>Cost</key>
				<integer>100</integer>
				<key>Research</key>
				<integer>100</integer>
				<key>Technology</key>
				<string>2</string>
			</dict>
		</dict>
		<key>Flyby</key>
		<dict>
			<key>Mariner</key>
			<dict>
				<key>Cost</key>
				<integer>1000</integer>
				<key>Research</key>
				<integer>1150</integer>
				<key>Technology</key>
				<integer>30</integer>
			</dict>
			<key>Galileo</key>
			<dict>
				<key>Cost</key>
				<integer>150</integer>
				<key>Research</key>
				<integer>350</integer>
				<key>Technology</key>
				<integer>7</integer>
			</dict>
			<key>Cassini</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Technology</key>
				<integer>10</integer>
			</dict>
			<key>Messenger</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>13</integer>
			</dict>
		</dict>
		<key>Orbit</key>
		<dict>
			<key>Pioneer</key>
			<dict>
				<key>Cost</key>
				<integer>175</integer>
				<key>Research</key>
				<integer>350</integer>
				<key>Technology</key>
				<integer>10</integer>
			</dict>
			<key>Magellan</key>
			<dict>
				<key>Cost</key>
				<integer>500</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>15</integer>
			</dict>
			<key>Explorer</key>
			<dict>
				<key>Cost</key>
				<integer>600</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>15</integer>
			</dict>
			<key>Lunar Rec Orb</key>
			<dict>
				<key>Cost</key>
				<real>12000</real>
				<key>Research</key>
				<integer>8000</integer>
				<key>Technology</key>
				<integer>60</integer>
			</dict>
			<key>Viking</key>
			<dict>
				<key>Cost</key>
				<real>12000</real>
				<key>Research</key>
				<integer>8000</integer>
				<key>Technology</key>
				<integer>60</integer>
			</dict>
		</dict>
		<key>Lander</key>
		<dict>
			<key>Surveyor</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>13</integer>
			</dict>
			<key>Viking</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Technology</key>
				<integer>10</integer>
			</dict>
			<key>Mars Pathfinder</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Technology</key>
				<integer>13</integer>
			</dict>
			<key>Mars Global Surveyor</key>
			<dict>
				<key>Cost</key>
				<real>15000</real>
				<key>Research</key>
				<real>12000</real>
				<key>Technology</key>
				<integer>75</integer>
			</dict>
		</dict>
		<key>Rover</key>
		<dict>
			<key>Sojourner</key>
			<dict>
				<key>Cost</key>
				<integer>250</integer>
				<key>Research</key>
				<integer>400</integer>
				<key>Technology</key>
				<integer>10</integer>
			</dict>
			<key>Spirit</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>13</integer>
			</dict>
			<key>Opportunity</key>
			<dict>
				<key>Cost</key>
				<integer>300</integer>
				<key>Research</key>
				<integer>450</integer>
				<key>Technology</key>
				<integer>13</integer>
			</dict>
			<key>Curiousity</key>
			<dict>
				<key>Cost</key>
				<real>15000</real>
				<key>Research</key>
				<real>12000</real>
				<key>Technology</key>
				<integer>75</integer>
			</dict>
		</dict>
	</dict>
	<key>Scientists</key>
	<dict>
		<key>Scientist 1</key>
		<dict>
			<key>Cost</key>
			<integer>20</integer>
			<key>Intelligence</key>
			<integer>70</integer>
		</dict>
		<key>Scientist 2</key>
		<dict>
			<key>Cost</key>
			<integer>30</integer>
			<key>Intelligence</key>
			<integer>80</integer>
		</dict>
		<key>Scientist 3</key>
		<dict>
			<key>Cost</key>
			<integer>50</integer>
			<key>Intelligence</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>Launch Site</key>
	<dict>
		<key>Cape Canaveral</key>
		<dict>
			<key>Cost</key>
			<integer>0</integer>
			<key>Suitability</key>
			<integer>10</integer>
		</dict>
		<key>Kennedy Space Center</key>
		<dict>
			<key>Cost</key>
			<integer>20</integer>
			<key>Suitability</key>
			<integer>10</integer>
		</dict>
		<key>Nevada Test and Training Range</key>
		<dict>
			<key>Cost</key>
			<integer>100</integer>
			<key>Suitability</key>
			<integer>10</integer>
		</dict>
		<key>Vandenberg Air Force Base</key>
		<dict>
			<key>Cost</key>
			<integer>1000</integer>
			<key>Suitability</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
